@import url(http://fonts.googleapis.com/css?family=Average+Sans&subset=latin,latin-ext);

#rotaspace {
    width: 100%;
    height: 150px;
/* 
    perspective: 457.1428571428571px;
    -webkit-perspective: 457.1428571428571px;
*/  
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    /* -webkit-perspective-origin: 50% 100%; */
}

#rotaspace .rotatem {
    position:absolute;
    height:150px;
    width:200px;
    left:50%;
    top:50%;
    margin-left:-100px;
    margin-top: -75px;
    
    z-index:10;
    
    transition: all 1s;
}

#rotaspace .rotatem .textItem {
    font-family: 'Average Sans', sans-serif;
    font-size: 280px;
}